.profile {
  margin-bottom: 51px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .profile {
    margin-bottom: 36px;
    margin-top: 42px;
    flex-direction: column;
  }
}
