.auth__text {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .auth__text {
    margin-top: 20px;
  }
}
