.auth__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto 15px auto;
}

@media screen and (max-width: 400px) {
  .auth__form {
    max-width: 260px;
  }
}
