.popup__title_type_auth {
  text-align: center;
  line-height: 29px;
  padding: 0 36px;
}
@media screen and (max-width: 540px) {
  .popup__title_type_auth {
    padding: 0;
    margin: 0 18px 50px;
    font-size: 20px;
    line-height: 24px;
  }
}
