@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/content/content.css);
/* Шапка */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
/* Профиль */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__name-container/profile__name-container.css);
@import url(./blocks/profile/__photo-edit/profile__photo-edit.css);
/* Элементы */
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__card/elements__card.css);
@import url(./blocks/elements/__delete-button/elements__delete-button.css);
@import url(./blocks/elements/__delete-button/_hidden/elements__delete-button_hidden.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__info-container/elements__info-container.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__like-button/elements__like-button.css);
@import url(./blocks/elements/__like-button/_active/elements__like-button_active.css);
@import url(./blocks/elements/__like-count/elements__like-count.css);
@import url(./blocks/elements/__like-container/elements__like-container.css);
/* Подвал */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
/* Попап */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__fieldset/popup__fieldset.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__figure-image/popup__figure-image.css);
@import url(./blocks/popup/__figcaption/popup__figcaption.css);
@import url(./blocks/popup/__zoom-container/popup__zoom-container.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/_type/popup_type_zoom.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__submit/_inactive/popup__submit_inactive.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__title/_type/popup__title_type_delete.css);

